
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions
*.pyc
accounts/__pycache__/models.cpython-37.pyc
home/__pycache__/forms.cpython-37.pyc
home/__pycache__/views.cpython-37.pyc
*.pyc
stalls/migrations/__pycache__/__init__.cpython-37.pyc
stalls/migrations/__pycache__/0001_initial.cpython-37.pyc
stalls/__pycache__/views.cpython-37.pyc
accounts/__pycache__/__init__.cpython-37.pyc
accounts/__pycache__/admin.cpython-37.pyc
accounts/__pycache__/apps.cpython-37.pyc
accounts/__pycache__/models.cpython-37.pyc
accounts/__pycache__/urls.cpython-37.pyc
accounts/__pycache__/views.cpython-37.pyc
accounts/migrations/__pycache__/0001_initial.cpython-37.pyc
accounts/migrations/__pycache__/__init__.cpython-37.pyc
amaltas/__pycache__/__init__.cpython-37.pyc
amaltas/__pycache__/urls.cpython-37.pyc
amaltas/__pycache__/wsgi.cpython-37.pyc
accounts/__pycache__/__init__.cpython-37.pyc
accounts/__pycache__/admin.cpython-37.pyc
accounts/__pycache__/apps.cpython-37.pyc
accounts/__pycache__/models.cpython-37.pyc
accounts/__pycache__/urls.cpython-37.pyc
accounts/__pycache__/views.cpython-37.pyc
accounts/migrations/__pycache__/0001_initial.cpython-37.pyc
accounts/migrations/__pycache__/__init__.cpython-37.pyc
amaltas/__pycache__/__init__.cpython-37.pyc
amaltas/__pycache__/urls.cpython-37.pyc
amaltas/__pycache__/wsgi.cpython-37.pyc
category/__pycache__/__init__.cpython-37.pyc
category/__pycache__/urls.cpython-37.pyc
category/__pycache__/views.cpython-37.pyc
contactus/__pycache__/__init__.cpython-37.pyc
contactus/__pycache__/admin.cpython-37.pyc
contactus/__pycache__/apps.cpython-37.pyc
contactus/__pycache__/forms.cpython-37.pyc
contactus/__pycache__/models.cpython-37.pyc
contactus/__pycache__/urls.cpython-37.pyc
contactus/__pycache__/views.cpython-37.pyc
contactus/migrations/__pycache__/0001_initial.cpython-37.pyc
contactus/migrations/__pycache__/__init__.cpython-37.pyc
home/__pycache__/__init__.cpython-37.pyc
home/__pycache__/forms.cpython-37.pyc
home/__pycache__/urls.cpython-37.pyc
home/__pycache__/views.cpython-37.pyc
makeadifference/__pycache__/__init__.cpython-37.pyc
makeadifference/__pycache__/admin.cpython-37.pyc
makeadifference/__pycache__/apps.cpython-37.pyc
makeadifference/__pycache__/models.cpython-37.pyc
makeadifference/__pycache__/urls.cpython-37.pyc
makeadifference/__pycache__/views.cpython-37.pyc
makeadifference/migrations/__pycache__/0001_initial.cpython-37.pyc
makeadifference/migrations/__pycache__/__init__.cpython-37.pyc
stalls/__pycache__/__init__.cpython-37.pyc
stalls/__pycache__/admin.cpython-37.pyc
stalls/__pycache__/apps.cpython-37.pyc
stalls/__pycache__/models.cpython-37.pyc
stalls/__pycache__/urls.cpython-37.pyc
stalls/__pycache__/views.cpython-37.pyc
stalls/migrations/__pycache__/0001_initial.cpython-37.pyc
stalls/migrations/__pycache__/__init__.cpython-37.pyc
static/node_modules/