
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions
*.pyc
accounts/__pycache__/models.cpython-37.pyc
home/__pycache__/forms.cpython-37.pyc
home/__pycache__/views.cpython-37.pyc
