*{
    margin: 0;
    padding: 0;
}

.cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 30px 15px;
    grid-column-gap: 20px;
    grid-row-gap: 80px;
    /* remove side margin */
}
.blog{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-top: 5px;
}
.desc{
    margin: 0px 20px; 
    /* no changes here */
}
.desc2{
    margin-left: 60px;
}
.blog img{
    height: 108px;
    width: 192px;
    margin: 5px;
    /* border-radius: 15px; */
}
.detimg img{
  width: 100%;
  height: 100%;
  margin: 5px;
  object-position: center;
  object-fit: contain;
}
.imb img{
  width: 100%;
  height: 100%;
  margin: 5px;
  object-position: center;
  object-fit: contain;
}
.bloghead{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}
.written{
    text-align: left;
    margin: 100px 150px;
    font-size: 22px;
    /* remove side margin */
}
.desc h1{
    color: rgb(7, 172, 7);
    text-decoration: none;
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(7, 172, 7);
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
@media only screen and (max-width: 850px) {
    .cont{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 0 10px;
        grid-row-gap: 70px;
        /* remove side margin */
    }
    /* .imb img{

      width: 275px;
      height: 230px;
      margin: 5px;
        
    } */
    /* .detimg img{
      width: 100%;
      height: 100%;
      margin: 5px;
      object-position: center;
      object-fit: cover;
    } */
    .blog{
        margin-bottom: 5px;
        margin-right: 20px;
        
    }
    .blog img{
        
        width: 176px;
        height: 99px;
        /* border-radius: 15px 0 0 0; */
    }
    .written{
        text-align: left;
        margin: 50px 12px;
        font-size: 20px;
    }
    .desc h6{
        font-size: 15px;
    }
    .bloghead{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
    .desc h1{
        font-size: 24px;
    }
    .desc h4{
        font-size: 18px;
    }
    .desc{
        margin-left: 5px;
        margin-right: 2px;
    }
    .desc2{
        margin-left: 12px;
    }
  }
