
.center {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}


.embed-responsive .card-img-top {
    object-fit: cover;
} 


.bor img {
        border-width: 7px;
        border-style: solid;
      }
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .center {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .center {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }        
    
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%
    }
  }
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 992px) {
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%
    }    
  }