{% extends 'base.html' %}  
{% load static %}
{% block base %}
<div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12" data-aos="fade">
            <h2 class="site-section-heading text-center text-uppercase">Amaltas Founders</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'content/shweta_agarwal/shweta.jpg' %}" alt="Image" class="img-fluid rounded w-50 mb-4">
            <h2 class="h5 text-uppercase">Shweta Agarwal</h2>
            <p class="lead">JULY2013 TILLTODAY.Support Women Entrepreneurs to showcase their products and talent in a small exhibition for their journey ahead.</p>
            <p>
              <a href="#" class="p-3"><span class="icon-facebook"></span></a>
              <a href="#" class="p-3"><span class="icon-instagram"></span></a>
            </p>
          </div>
          <div class="col-md-6 text-center mb-5" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'content/Shilpa_Jalan.jpeg' %}" alt="Image" class="img-fluid rounded w-50 mb-4">
            <h2 class="h5 text-uppercase">Shilpa Jalan</h2>
            <p class="lead">Shilpa Jalan is the co founder of Amaltas exhibitions. She takes pride in being a seasoned home manager, economist and engineer. Her passion for management and flair for creativity extends into all aspects of her life - from personal to professional. She has been curating exhibitions and events for her private circles and larger audiences.  Making personalised gifts using crafts like Parchment is another one of her fortes. Shilpa believes in spreading Peace and Happiness within,as well as around her.</p>
            <p>
              <a href="#" class="p-3"><span class="icon-facebook"></span></a>
              <a href="#" class="p-3"><span class="icon-instagram"></span></a>
            </p>
          </div>
<!--
          <div class="col-md-6 text-center mb-5" data-aos="fade-up" data-aos-delay="300">
            <img src="images/person_4.jpg" alt="Image" class="img-fluid rounded w-50 mb-4">
            <h2 class="h5 text-uppercase">Tim Watkins</h2>
            <span class="d-block mb-4">CEO, Co-Founder</span>
            <p class="lead">Expedita et aliquam fuga dicta amet ad laborum error recusandae, voluptatibus quam minima sed, saepe odio voluptatem. Sed unde hic, vitae fugiat.</p>
            <p>
              <a href="#" class="p-3"><span class="icon-facebook"></span></a>
              <a href="#" class="p-3"><span class="icon-twitter"></span></a>
              <a href="#" class="p-3"><span class="icon-instagram"></span></a>
              <a href="#" class="p-3"><span class="icon-linkedin"></span></a>
            </p>
          </div>
          <div class="col-md-6 text-center mb-5" data-aos="fade-up" data-aos-delay="400">
            <img src="images/person_1.jpg" alt="Image" class="img-fluid rounded w-50 mb-4">
            <h2 class="h5 text-uppercase">Nicole Davis</h2>
            <span class="d-block mb-4">Product Manager</span> 
            <p class="lead">Expedita et aliquam fuga dicta amet ad laborum error recusandae, voluptatibus quam minima sed, saepe odio voluptatem. Sed unde hic, vitae fugiat.</p>
            <p>
              <a href="#" class="p-3"><span class="icon-facebook"></span></a>
              <a href="#" class="p-3"><span class="icon-twitter"></span></a>
              <a href="#" class="p-3"><span class="icon-instagram"></span></a>
              <a href="#" class="p-3"><span class="icon-linkedin"></span></a>
            </p>
          </div>
-->
        </div>
      </div>  
    </div>
{% endblock %}