{% extends 'admin_base.html' %}  
{% load static %}

{% block base %}



<!--     <div class="site-blocks-cover inner-page overlay" style="background-image: url({{ stall.cover.url }});" data-aos="fade" data-stellar-background-ratio="0.5">  
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5 text-center" data-aos="fade">
          <h1 class="text-uppercase">
            {{ stall.name }}
          </h1>
          <span class="caption d-block text-white"><a href="#"></a></span>
        </div>
      </div>
    </div>  --> 
    
   <div class="site-section" data-aos="fade"> 
   <div class="container">
          <div class="row">    
          <div class="col-md-12 col-lg-12 mb-5 text-center">
            <span class="caption d-block mb-2 font-secondary font-weight-bold">Product Gallery</span>
            <h2 class="site-section-heading text-uppercase text-center font-secondary">{{ stall.name }}</h2>
          </div>
        </div>  
        <div class="row mb-5">
          <div class="col-md-12 col-lg-12 mb-5 mx-auto">  
            <div class="media-image">
              <img src="{{ stall.cover.url }}"alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
    </div>
    <!-- </div>
    <div class="site-section "> -->
      <div class="container">
<!--         <div class="row mb-5">
          <div class="col-md-12 text-center" data-aos="fade">
            <span class="caption d-block mb-2 font-secondary font-weight-bold">Product Gallery</span>
            <h2 class="site-section-heading text-uppercase text-center font-secondary">{{ stall.name }}</h2>  
          </div>
        </div> -->
        <div class="row">

  {% for product in products %}     
          <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="">
            <a href="{{ product.product_name }}" ><img src="{{ product.product_image.url }}" alt="Image" class="img-fluid"></a>
            <div class="media-image-body">
                <h4 class="font-secondary"><a href=""><span class="d-block mb-3">{{ product.product_name }}</span></a></h4>
            </div>    
          </div>      
  {% endfor %} 
        </div>
      </div>
    </div>



     <div class="site-section" data-aos="fade">
      <div class="container">
          <div class="row">    
          <div class="col-md-12 col-lg-12 mb-5">
            <h2 class="site-section-heading text-uppercase text-center font-secondary">Contact Details</h2>
          </div>
        </div> 
        <div class="row mb-5">
          <div class="col-md-6 col-lg-6 mb-5 mx-auto">  
              <form action="#" class="search-form">
                <div class="form-group">        
                    <h2 class="lead"><span>Contact Stall:</span></h2>
                    <h4 class="lead">{{ stall.name }}</h4>
                    <p>{{ stall.contact_stall }}</p>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div> 


{% endblock %}


