{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Amaltas &mdash; Exhibition: Amalta’s E-Exhibition is an online platform building direct connections between entrepreneurs and their customers.This one of a kind online exhibition is a medium to facilitate the change taking place in the current times and to continue encouraging the growth of both business owners and homeprenaurs!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">    
    
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
  
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
  </head>
  <body>

<!--  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div> 
  </div>  -->
  
  <div class="site-wrap">

    

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <div class="site-navbar-wrap js-site-navbar bg-white">
      
      <div class="container">
        <div class="site-navbar bg-light">
          <div class="row align-items-center">
            <div class="col-2">
              <a href="/exhibitor/login" class="mb-0 site-logo font-weight-bold text-uppercase"><img src="{% static 'content/amaltas_logo150.ico' %}"></a>             
            </div>
            <div class="col-10">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                  <ul class="site-menu js-clone-nav d-none d-lg-block">
                    <!-- <li><a href="/accounts/login">Sign in</a></li> -->
<!--                    <li class="has-children">
                      <a href="{% static '#">Categories</a>
                      <ul class="dropdown arrow-top">
                        <li><a href="{% static '#' %}">Categorie A</a></li>
                        <li><a href="{% static '#' %}">Categorie B</a></li>
                        <li><a href="{% static '#' %}">Categorie C</a></li>
                        <li><a href="{% static '#' %}">Categorie D</a></li>
                      </ul>
                    </li>-->
<!--                    <li><button type="button" class="d-inline-block bg-primary text-white btn btn-primary" data-toggle="modal" data-target="loginModal">Login</button></li>-->

                    <!-- <li><a  href="/categories/"><span class="d-inline-block bg-primary text-white btn btn-primary">View Categories</span></a></li>  -->
                    <!-- <li><a href="/stalls"><span class="d-inline-block bg-primary text-white btn btn-primary">Visit Stalls</span></a></li> -->
                    <!-- <li><a href="/cities"><span class="d-inline-block bg-primary text-white btn btn-primary">Visit Cities</span></a></li> -->
                    <li><a href="/exhibitor/login">Hello, {{request.user}}</a></li>
                    <li><a href="/exhibitor/logout"><span class="d-inline-block bg-primary text-white btn btn-primary">Logout</span></a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
      
          {% block base %}

          {% endblock %}
          
    <p>      
    <footer class="site-footer bg-dark">
      <div class="container">
        

        <div class="row">
          <div class="col-md-8 mb-8 mb-md-0">
            <div class="row mb-4">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4 text-white">About Us:</h3>
                  <ul class="list-unstyled">
                    <li><a href="/aboutus">Amaltas Founders</a></li>
                    <li><a href="/termsandconditions">Terms and Conditons</a></li>
                    <li><a href="/contactus">Contact us</a></li>
                    <li><a href="/makeadifference">Make A Difference</a></li>
                  </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            
            <div class="row">
            <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Connect with our Social:</h3></div>
              <div class="col-md-12">
                <p>
                  <a href="https://www.facebook.com/shwetaagarwal2016" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                  <a href="https://www.instagram.com/amaltas_ss/" class="p-2"><span class="icon-instagram"></span></a>

                </p>
              </div>
          </div>
          </div>
        </div>    
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>            
          </div>
        </div>
          
      </div>
    </footer>
  </div>


  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>

  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>


  <script src="{% static 'js/main.js' %}"></script>

   

  </body>
</html>