 
{% extends 'admin_base.html' %}  
{% load static %}

{% block base %}



    <div class="slant-1"></div>

    
    
  <div class="site-section first-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 blog-content mx-auto text-center">
         <h2 class="lead text-uppercase ">{{ product.product_name }}</h2>
              <p><img src="{{ product.product_image.url }}" alt="Image" class="img-fluid"></p>
<!--               {% if product.price == 0 %}
                <h3 class="site-section-heading font-secondary mb-5">Contact Stall for Price of the Product</h3>
              {% else %}
                <h3 class="site-section-heading font-secondary mb-5">Price: Rs{{ product.price }}</h3>
              {% endif %} -->
              <!-- <p>Categories:  <a href="/categories/{{product.category}}">{{ product.category }}</a></p> -->
          </div>

          <div class="col-md-6 sidebar mx-auto">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                    <h2 class="site-section-heading font-secondary text-uppercase mb-5">Contact {{ stall.name }} @ <span class="font-secondary" >{{ contactno }} to buy {{ product.product_name }}</span></h2>   
                    <h3 lead text-uppercase >Additional Contact details: <span>{{ stall.contact_stall }}</span></h3>
                    <hr />
                    <p></p>
                    <h3 class="lead text-uppercase ">{% if product.price == 0 %}Contact Stall for Price{% else %}Price: &#8377;{{ product.price }}{% endif %}</h3>  
                    <p> </p>
                    <hr />
              
                    <p>
                      {% if product.weblink %}
                      <a href={{product.weblink}}  class="btn btn-primary text-white"><i class="fa fa-hand-pointer-o" aria-hidden="true" style="font-size:24px"></i> ShopNow</a>
                      {% else %}
                      <a type="submit" href="https://wa.me/{{ contactno }}?text=Hello%20I%20saw%20your%20product:{{ product.product_name }}%20on%20www.amaltas-exhibition.com.%20I%20would%20like%20to%20purchase%20it.The%20link%20to%20the%20image%20of%20the%20product:%20https://www.amaltas-exhibition.com{{ product.product_image.url }}" class="btn btn-primary text-white px-4 py-2"><i class="fa fa-whatsapp" style="font-size:24px"></i> ShopNow</a>
                      {% endif %}
                    </p>

                          
                </div>
              </form>
            </div>
              


          </div>
        </div>
      </div>
    </div>

{% endblock %}