 

{% extends 'admin_base.html' %}  
{% load static %}

{% block base %}



    <div class="slant-1"></div>

    
    
  <div class="site-section first-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 blog-content">
         <h2 class="lead">{{ product.product_name }}</h2>
              <p><img src="{{ product.product_image.url }}" alt="Image" class="img-fluid"></p>
              {% if product.price == 0 %}
                <h3 class="site-section-heading font-secondary mb-5">Contact Stall for Price of the Product</h3>
              {% else %}
                <h3 class="site-section-heading font-secondary mb-5">Price: Rs{{ product.price }}</h3>
              {% endif %}
              <!-- <p>Categories:  <a href="/categories/{{product.category}}">{{ product.category }}</a></p> -->
          </div>
          
          <div class="col-md-6 sidebar">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">        
                    <h2 class="lead"><span>Contact Stall:</span></h2>
                    <h4 class="lead">{{ stall.name }}</h4>
                    <p>{{ stall.contact_stall }}</p>
                </div>
              </form>
 
            </div>
              


          </div>
        </div>
      </div>
    </div>

{% endblock %}