{% extends 'admin_base.html' %}  
{% load static %}

{% block css %}
<style>
.center {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

.card-img-top {
    height: 100vw;  
    object-fit: cover;
}
 


.bor img {
        border-width: 20px;
        border-style: solid;
        border-image-source: url("https://mdn.mozillademos.org/files/6013/border-image-4.png");
        border-image-slice:13 13 13 13;
        border-image-width:13px 13px 13px 13px;
        border-image-repeat:repeat repeat;
      }
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
    .card-img-top {
        height: 50vw;
    }
    .center {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }
  }
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .card-img-top {
        height: 50vw;
    }
    .center {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }        
    
  }
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .card-img-top {
        height: 20vw;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 50%
    }
  }
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 992px) {
    .card-img-top {
        height: 20vw;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 50%
    }    
  }


  
</style>
{% endblock %}


{% block base %}


    <div class="site-blocks-cover inner-page overlay" style="background:#AFD275; " data-aos="fade" data-stellar-background-ratio="0.5">  
        <div class="row mb-0 row align-items-center justify-content-center" >
          <div class="col-md-12 col-lg-12 bor">  
            <div class="media-image center " >
              <img src="{{ stall.cover.url }}"alt="Image" class="img-fluid">
            </div>
          </div>
        </div> 
<!--       <div class="row align-items-center justify-content-center">
        <div class="col-md-5 text-center" data-aos="fade">
          <h1 class="text-uppercase">
            {{ stall.name }}
          </h1>
          <span class="caption d-block text-white"><a href="#"></a></span>
        </div>
      </div> -->
    </div>   
    
<!--    <div class="site-section" style="background: #E0C23E; " data-aos="fade"> 
   <div class="container">
         <div class="row">    
          <div class="col-md-12 col-lg-12 mb-2 text-center">
            <h2 class="site-section-heading text-uppercase text-center text-white font-secondary">{{ stall.name }}</h2>
          </div>
        </div>  
       <div class="row mb-0" >
          <div class="col-md-12 col-lg-12 ">  
            <div class="media-image center" >
              <img src="{{ stall.cover.url }}"alt="Image" class="img-fluid">
            </div>
          </div>
        </div> 
    </div>
  </div> -->
    <!-- </div>-->
    <div class="site-section ">
      <div class="container">
<!--         <div class="row mb-5">
          <div class="col-md-12 text-center" data-aos="fade">
            <span class="caption d-block mb-2 font-secondary font-weight-bold">Product Gallery</span>
            <h2 class="site-section-heading text-uppercase text-center font-secondary">{{ stall.name }}</h2>  
          </div>
        </div> -->
        <div class="row">    
          <div class="col-md-12 col-lg-12 mb-5 text-center">
            <span class="caption d-block mb-2 font-secondary font-weight-bold">Product Gallery</span>
          </div>
        <div class="row">
  {% for product in products %}
        <div class="col-md-6 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="">
          <div class="card" >
            <a href="{{ product.product_name }}" ><img src="{{ product.product_image.url }}" alt="Image" class="card-img-top embed-responsive-item" ></a>
            <div class="card-body">
              <h4 class="card-title text-uppercase font-secondaryx">{{ product.product_name }}</h4>
              <p class="card-text" >{% if product.price == 0 %}Contact Stall for Price{% else %}Price: &#8377;{{ product.price }}{% endif %}</p>
              <a href="{{ product.product_name }}" class="btn btn-primary text-white">View Product</a>
            </div>
          </div>
        </div>         
<!--           <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="">
            <a href="{{ product.product_name }}" ><img src="{{ product.product_image.url }}" alt="Image" class="img-fluid"></a>
            <div class="media-image-body">
                <h4 class="font-secondary text-uppercase"><a href="{{ product.product_name }}"><span class="d-block mb-3">{{ product.product_name }}</span></a></h4>
            </div>    
          </div>    -->   
  {% endfor %} 
        </div>
      </div>
    </div>



     <div class="site-section" data-aos="fade">
      <div class="container">
          <div class="row">    
          <div class="col-md-12 col-lg-12 mb-5">
            <h2 class="site-section-heading text-uppercase text-center font-secondary">Contact Details</h2>
          </div>
        </div> 
        <div class="row mb-5">
          <div class="col-md-6 col-lg-6 mb-5 mx-auto">  
              <form action="#" class="search-form">
                <div class="form-group">                
                    <h4 class="lead">{{ stall.name }}</h4>
                    <p>{{ stall.contact_stall }}</p>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div> 


{% endblock %}


