{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block nav %}
<li class="has-children">
    <a href="/categories" class="active">Categories</a>
    <ul class="dropdown arrow-top">
     {% for categorie in categories %} 
    <li><a href="/categories/{{ categorie }}">{{ categorie }}</a></li>
    {% endfor %}
    <li class="has-children">
      <a href="/cities">Cities</a>
      <ul class="dropdown arrow-top">
      {% for city in cities %} 
      <li><a href="/cities/{{ city }}">{{ city }}</a></li>
      {% endfor %}
      </ul>
    </li>
    </ul>
</li>
<li><a href="/makeadifference">Make A Difference</a></li>
<li><a href="/stalls"><span class="d-inline-block bg-primary text-white btn btn-primary">Visit Stalls</span></a></li>
{% endblock %}



{% block base %}


<!--     <div class="site-blocks-cover inner-page overlay" style="background-image: url({% static 'content/5490.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5 text-center" data-aos="fade">
          <h1 class="text-uppercase">Categories</h1>
            <span class="caption d-block text-white"><a href="#"></a></span>
        </div>
      </div>
    </div>  

    <div class="slant-1"></div> -->

    
    
  <div class="site-section" data-aos="fade">
      <div class="container">
        <div class="row">    
          <div class="col-md-12 col-lg-12 mb-5">
            <h2 class="site-section-heading text-uppercase text-center font-secondary">Categories</h2>
          </div>
        </div>  
        {% if visibility %}
        <div class="row mb-5">
          {% for product in present_categories %}
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="media-image">
              <a href="{{product.category}}">
               {% thumbnail product.product_image "480x360" crop="center" as im %}
               <img src="{{ im.url }}"alt="Image" class="img-fluid">
               {% endthumbnail %}
              </a>
              <div class="media-image-body">
                <h2 class="font-secondary text-uppercase"><a href="{{product.category}}">{{product.category}}</a></h2>
                <p><a href="{{product.category}}">View Products</a></p>
              </div>
            </div>
          </div>
          {% endfor %} 
      </div>
        {% endif %}
        <div class="row mb-5">
          <div class="col-md-6 col-lg-6 mb-5 mx-auto">  
            <div class="media-image">
              <a href=""><img src="{% static 'content/Rakhi_d.jpg' %}"alt="Image" class="img-fluid"></a>
            </div>
          </div>
        </div> 

    </div>
  </div>  
{% endblock %}