{% extends 'base.html' %} 

{% block seohead %}
<title>Amaltas Online Exhibition| Shop now on Amaltas to find the best gourmet products curated for you by entrepreneurs all over India. We run online exhibitions that enhance your online shopping experience. Visit our page to find exquisite products and deals for Rakhi 2020.</title>
<meta name=”description” content="Amaltas E-Exhibition is an online shopping experience that helps customers connect with talented and reliable entrepreneurs who sell exquisite, high-quality products all over India. Our products range from clothes, accessories, festive special items such as Rakhi, handicrafts and more!. After successfully organising more than 20 physical exhibitions over the past 7 years, Amaltas has built this one of a kind online exhibition to keep our loyal customers and stall owners happy and adapt to the circumstances we live in today. There will be a series of exhibitions hosted on our website, each accompanying an exclusive theme. Each exhibition will be online for 72 hours"> 
<link rel=”canonical” href=”https://www.amaltas-exhibiton.com/” />
<meta name=”robots” content=”index, follow”>
{% endblock %}

{% block base %}
<div id="reactamaltas"></div>
{% endblock %}