{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block seohead %}
<title>Amaltas Online Exhibition| Shop now on Amaltas to find innovative products from the comfort of your home. Find special online shopping discounts for Rakhi 2020. Products originate from various cities across India and can be delivered anywhere across India</title>
<!-- <meta name=”description” content=””> -->
<link rel=”canonical” href=”https://www.amaltas-exhibition.com/cities/” />
<meta name=”robots” content=”index, follow”>
{% endblock %}

{% block nav %}
<li class="has-children">
    <a href="/categories" class="active">Categories</a>
    <ul class="dropdown arrow-top">
     {% for categorie in categories %} 
    <li><a href="/categories/{{ categorie }}">{{ categorie }}</a></li>
    {% endfor %}
    <li class="has-children">
      <a href="/cities" class="active">Cities</a>
      <ul class="dropdown arrow-top">
      {% for city in cities %} 
      <li><a href="/cities/{{ city }}">{{ city }}</a></li>
      {% endfor %}
      </ul>
    </li>
    </ul>
</li>
<li><a href="/makeadifference">Make A Difference</a></li>
<li><a href="/stalls"  ><span class="d-inline-block bg-primary text-white btn btn-primary">Visit Stalls</span></a></li>
{% endblock %}

{% block base %}      
<!--     <div class="site-blocks-cover inner-page overlay" style="background-image: url({% static 'content/5490.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5 text-center" data-aos="fade">
          <h1 class="text-uppercase">Stalls</h1>
            <span class="caption d-block text-white"><a href="#"></a></span>
        </div>
      </div>
    </div>  
 -->   


  <div class="site-section" data-aos="fade">
      <div class="container">
        <div class="row">    
          <div class="col-md-12 col-lg-12 mb-5">
            <h2 class="site-section-heading text-uppercase text-center font-secondary">Cities</h2>
          </div>
        </div>
        {% if visibility %}  
        <div class="row mb-5">
          {% for city in cities %}
          <div class="col-md-4 col-lg-3 mb-5">
            <div class="media-image">
              <a href="{{ city.name }}">
               {% thumbnail city.city_image "858x480" crop="center" as im %}
               <img src="{{ im.url }}"alt="Image" class="img-fluid">
               {% endthumbnail %}                
              </a>
              <div class="media-image-body">
                <h2 class="font-secondary text-uppercase"><a href="{{ city.name }}">{{ city.name }}</a></h2>
                <p><a href="{{ city.name }}">View Stalls</a></p>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
       {% endif %}
        <div class="row mb-5">
          <div class="col-md-6 col-lg-6 mb-5 mx-auto">  
            <div class="media-image">
              <a href=""><img src="{% static 'content/banner_d.png' %}"alt="Image" class="img-fluid"></a>
            </div>
          </div>
        </div> 
    </div>
  </div>  


<!--     <div class="site-section" data-aos="fade">
      <div class="container">
          <div class="row">    
          <div class="col-md-12 col-lg-12 mb-5">
            <h2 class="site-section-heading text-uppercase text-center font-secondary">Join us Next Week</h2>
          </div>
        </div> 
        <div class="row mb-5">
          <div class="col-md-6 col-lg-6 mb-5 mx-auto">  
            <div class="media-image">
              <a href=""><img src="{% static 'content/banner_desktop.png' %}"alt="Image" class="img-fluid"></a>
            </div>
          </div>
        </div>
      </div>
    </div>  -->     
{% endblock %}