{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block base %}      
<!--     <div class="site-blocks-cover inner-page overlay" style="background-image: url({% static 'content/5490.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5 text-center" data-aos="fade">
          <h1 class="text-uppercase">Stalls</h1>
            <span class="caption d-block text-white"><a href="#"></a></span>
        </div>
      </div>
    </div>  
 -->   
    
  <div class="site-section" data-aos="fade">
      <div class="container">
        <div class="row">    
          <div class="col-md-12 col-lg-12 mb-5">
            <h2 class="site-section-heading text-uppercase text-center font-secondary">Cities</h2>
          </div>
        </div>
        {% if visibility %}  
        <div class="row mb-5">
          {% for city in cities %}
          <div class="col-md-4 col-lg-3 mb-5">
            <div class="media-image">
              <a href="{{ city.name }}">
               {% thumbnail city.city_image "858x480" crop="center" as im %}
               <img src="{{ im.url }}"alt="Image" class="img-fluid">
               {% endthumbnail %}                
              </a>
              <div class="media-image-body">
                <h2 class="font-secondary text-uppercase"><a href="{{ city.name }}">{{ city.name }}</a></h2>
                <p><a href="{{ city.name }}">View Stalls</a></p>
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
       {% endif %}
        <div class="row mb-5">
          <div class="col-md-6 col-lg-6 mb-5 mx-auto">  
            <div class="media-image">
              <a href=""><img src="{% static 'content/banner_rakhi_d.jpg' %}"alt="Image" class="img-fluid"></a>
            </div>
          </div>
        </div> 
    </div>
  </div>  


<!--     <div class="site-section" data-aos="fade">
      <div class="container">
          <div class="row">    
          <div class="col-md-12 col-lg-12 mb-5">
            <h2 class="site-section-heading text-uppercase text-center font-secondary">Join us Next Week</h2>
          </div>
        </div> 
        <div class="row mb-5">
          <div class="col-md-6 col-lg-6 mb-5 mx-auto">  
            <div class="media-image">
              <a href=""><img src="{% static 'content/banner_desktop.png' %}"alt="Image" class="img-fluid"></a>
            </div>
          </div>
        </div>
      </div>
    </div>  -->     
{% endblock %}