 

{% extends 'base.html' %}  
{% load static %}

{% block seohead %}
<title>Amaltas Online Exhibition-{{ stall.name }}:{{ product.product_name }}</title>
<!-- <meta name=”description” content=””> -->
<!-- <link rel=”canonical” href=”https://www.amaltas-exhibiton.com/” /> -->
<meta name=”robots” content=”index, follow”>
{% endblock %}


{% block base %}
{% if visibility %}



    <div class="slant-1"></div>

    
    
  <div class="site-section first-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 blog-content">
         <h2 class="lead text-uppercase">{{ product.product_name }}</h2>
              <p><img src="{{ product.product_image.url }}" alt="{{ stall.name }}:{{ product.product_name }}" class="img-fluid"></p>
<!--               {% if product.price == 0 %}
                <h3 class="site-section-heading font-secondary mb-5">Contact Stall for Price of the Product</h3>
              {% else %}
                <h3 class="site-section-heading font-secondary mb-5">Price: Rs{{ product.price }}</h3>
              {% endif %} -->
              <!-- <p>Categories:  <a href="/categories/{{product.category}}">{{ product.category }}</a></p> -->
          </div>
          
          <div class="col-md-6 sidebar mx-auto">
            <div class="sidebar-box">
              <form action="#" class="search-form">
                <div class="form-group">
                    <h2 class="site-section-heading font-secondary mb-5"><span>Contact Stall:</span></h2>        
                    <h4 class="lead">{{ stall.name }}</h4>
                    <p>{{ stall.contact_stall }}</p>
                    <h2 class="lead text-uppercase"><span>{% if product.price == 0 %}Contact Stall for Price of {{product.product_name}}{% else %}PRICE OF {{product.product_name}} : &#8377;{{ product.price }}{% endif %}</span></h2>       
                </div>
              </form>
            </div>
              


          </div>
        </div>
      </div>
    </div>
{% endif %}
{% endblock %}