{% extends 'base.html' %}  
{% load static %}

{% block base %}



   <!--  <div class="site-blocks-cover inner-page overlay" style="background-image: url({% static 'content/tryo.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">  
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5 text-center" data-aos="fade">
          <h1 class="text-uppercase">
            {{category}}
          </h1>
          <span class="caption d-block text-white"><a href="#"></a></span>
        </div>
      </div>
    </div>  
    
    <div class="slant-1"></div> -->

    
    
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 text-center" data-aos="fade">
            <span class="caption d-block mb-2 font-secondary font-weight-bold">Photo Gallery</span>
            <h2 class="site-section-heading text-uppercase text-center font-secondary">{{ category }}</h2>
          </div>
        </div>
        <div class="row">

  {% for product in products %}     
          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
            <a href="{{ product.product_name }}" ><img src="{{ product.product_image.url }}" alt="Image" class="img-fluid"></a>
            <div class="media-image-body">
                <h4 class="font-secondary"><a href=""><span class="d-block mb-3">{{ product.product_name }}</span></a></h4>
            </div>    
          </div>      
  {% endfor %} 
        </div>
      </div>
    </div>
{% endblock %}