{% extends 'base.html' %}  
{% load static %}
{% load thumbnail %}

{% block nav %}
<li class="has-children">
    <a href="" class="active">Categories</a>
    <ul class="dropdown arrow-top">
     {% for categorie in categories %} 
    <li><a href="/categories/{{ categorie }}">{{ categorie }}</a></li>
    {% endfor %}
    <li class="has-children">
      <a href="">Cities</a>
      <ul class="dropdown arrow-top">
      {% for city in cities %} 
      <li><a href="/cities/{{ city }}">{{ city }}</a></li>
      {% endfor %}
      </ul>
    </li>
    </ul>
</li>

{% endblock %}

{% block base %}

{% if visibility %}

   <!--  <div class="site-blocks-cover inner-page overlay" style="background-image: url({% static 'content/tryo.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">  
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5 text-center" data-aos="fade">
          <h1 class="text-uppercase">
            {{category}}
          </h1>
          <span class="caption d-block text-white"><a href="#"></a></span>
        </div>
      </div>
    </div>  
    
    <div class="slant-1"></div> -->

    
    
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 text-center" data-aos="fade">
            <span class="caption d-block mb-2 font-secondary font-weight-bold">Photo Gallery</span>
            <h2 class="site-section-heading text-uppercase text-center font-secondary">{{ category }}</h2>
          </div>
        </div>
        <div class="row">

  {% for product in products %}     
        <div class="col-md-6 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="">
          <div class="card border border-success ml-1 mr-1"  >
            <div class="embed-responsive embed-responsive-1by1 ">
            <a href="{{ product.product_name }}" ><img src="{{ product.product_image.url }}" alt="Image" class="card-img-top embed-responsive-item" ></a>
            </div>
            <div class="card-body">
              <h6 class="card-title text-uppercase font-secondary">{{ product.product_name }}</h6>
              <hr>
              <div style="float:left;">
              <p class="card-text" >{% if product.price == 0 %} {% else %}&#8377;{{ product.price }}{% endif %}</p>
              </div>
            </div>
          </div>
        </div>        
  {% endfor %} 
        </div>


{% endif %}
{% endblock %}