{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}



{% block seohead %}
<title>Amaltas Online Exhibition| Shop now on Amaltas to find innovative products. All stalls are run by entrepreneurs and all products are made in India. Special stalls have been set up for Rakhi 2020 to fulfil your online exhibition needs!</title>
<!-- <meta name=”description” content=””> -->
<link rel=”canonical” href=”https://www.amaltas-exhibition.com/stalls/” />
<meta name=”robots” content=”index, follow”>
{% endblock %}

{% block nav %}
<li class="has-children">
    <a href="#" >Categories</a>
    <ul class="dropdown arrow-top">
     {% for categorie in categories %} 
    <li><a href="/categories/{{ categorie }}">{{ categorie }}</a></li>
    {% endfor %}
    <li class="has-children">
      <a href="#">Cities</a>
      <ul class="dropdown arrow-top">
      {% for city in cities %} 
      <li><a href="/cities/{{ city }}">{{ city }}</a></li>
      {% endfor %}
      </ul>
    </li>
    </ul>
</li>

{% endblock %}

{% block base %}      
<!--     <div class="site-blocks-cover inner-page overlay" style="background-image: url({% static 'content/banner_d.png' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-5 text-center" data-aos="fade">
          <h1 class="text-uppercase">Stalls</h1>
            <span class="caption d-block text-white"><a href="#"></a></span>
        </div>
      </div>
    </div>   -->
  
    <div class="site-section" style="padding-top: 20px;" data-aos="fade">
      <div class="container">
      {% if visibility %} 
          {% for stall in stalls %}
          {% if stall.stall_visible_on_website %}
          {% if stall.poweredby_stall %}   
        <div class="row">    
          <div class="col-md-12 col-lg-12 mb-0">
            <h2 class="site-section-heading text-uppercase text-center font-secondary">Powered by:</h2>
          </div>
        </div>
        
        <div class="row mb-2 " style="padding-top: 5px;">

          <div class="col-md-6 col-lg-6 mb-2 mx-auto">
            <div class="media-image bor mx-auto">
              <a href="/stalls/{{stall.name}}">
               {% thumbnail stall.cover "540x540" crop="center" as im %}
               <img src="{{ im.url }}"alt="{{stall.name}}:{{ stall.description }}" class="img-fluid">
               {% endthumbnail %}
              </a>
              <div class="media-image-body text-center" style="padding-top: 5px;">
                <h2 class="font-secondary text-uppercase"><a href="/stalls/{{stall.name}}">{{ stall.name }}</a></h2>
                <!-- <p>{{ stall.description }}</p> -->
                <!-- <p><a href="/stalls/{{stall.name}}">View Products</a></p> -->
              </div>
            </div>
          </div>
             
          {% endif %}
          {% endif %}
          {% endfor %}
        </div>
        {% endif %} 


        {% if visibility %}
        <div class="row" style="padding-top: 5px;">    
          <div class="col-md-12 col-lg-12 mb-2">
            <h2 class="site-section-heading text-uppercase text-center font-secondary">Premium Stalls</h2>
          </div>
        </div>
        
        <div class="row mb-5">
          {% for stall in stalls %}
          {% if stall.stall_visible_on_website %}
          {% if stall.premium %}
          <div class="col-6 col-md-6 col-lg-4 mb-2 bor">
            <div class="media-image bor">
              <a href="/stalls/{{stall.name}}">
               {% thumbnail stall.cover "360x360" crop="center" as im %}
               <img src="{{ im.url }}"alt="{{stall.name}}:{{ stall.description }}" class="img-fluid">
               {% endthumbnail %}
              </a>
              <div class="media-image-body text-center" style="padding-top: 5px;">
                <h2 class="font-secondary text-uppercase"><a href="/stalls/{{stall.name}}">{{ stall.name }}</a></h2>
                <!-- <p>{{ stall.description }}</p> -->
                <!-- <p><a href="/stalls/{{stall.name}}">View Products</a></p> -->
              </div>
            </div>
          </div>
          {% endif %}
          {% endif %}
          {% endfor %}
        </div>
        {% endif %} 

  
        <div class="row justify-content-center">
          <div class="col-md-12 text-center">
            <span class="caption d-block mb-2 font-secondary font-weight-bold">Register to get Updates!</span>
            <h2 class="site-section-heading text-uppercase text-center font-secondary"></h2>
          </div>
          <div class="col-md-6 text-center ">
          <form action="" method="POST" class="p-5 bg-white" id="save_email">
            <span class="caption d-block mb-2 font-secondary font-weight-bold">{{ message }}</span> 
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" form="save_email" value="Submit" class="btn btn-primary text-white px-4 py-2">Register</button>
            </form>
          </div>  
        </div>    

        {% if visibility %}
        <div class="row">    
          <div class="col-md-12 col-lg-12 mb-2">
            <h2 class="site-section-heading text-uppercase text-center font-secondary">More Stalls</h2>
          </div>
        </div>
        
        <div class="row mb-2">          
          {% for stall in stalls %}
          {% if stall.stall_visible_on_website %}
          {% if stall.premium == False %}
          {% if stall.poweredby_stall == False %}
          <div class="col-6 col-md-6 col-lg-4 mb-2 bor">
            <div class="media-image bor " >
              <a href="/stalls/{{stall.name}}">
               {% thumbnail stall.cover "360x360" crop="center" as im %}
               <img src="{{ im.url }}"alt="{{stall.name}}:{{ stall.description }}" class="img-fluid">
               {% endthumbnail %}
              </a>
              <div class="media-image-body text-center" style="padding-top: 5px;">
                <h2 class="font-secondary  text-uppercase"><a href="/stalls/{{stall.name}}">{{ stall.name }}</a></h2>
                <!-- <p>{{ stall.description }}</p> -->
                <!-- <p><a href="/stalls/{{stall.name}}">View Products</a></p> -->
              </div>
            </div>
          </div>
          {% endif %}
          {% endif %}
          {% endif %}
          {% endfor %}
        </div>
        {% endif %} 



        <div class="row mb-2">
          <div class="col-md-6 col-lg-6 mb-2 mx-auto">  
            <div class="media-image">
              <a href=""><img src="{% static 'content/banner_d.png' %}"alt="Image" class="img-fluid"></a>
            </div>
          </div>
        </div>  

    </div>
  </div> 

    <div class="py-5 bg-primary">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6 text-center mb-3 mb-md-0">
            <h2 class="text-uppercase text-white mb-4" data-aos="fade-up">Visit our make a difference page</h2>
            <a href="/makeadifference" class="btn btn-bg-primary font-secondary text-uppercase" data-aos="fade-up" data-aos-delay="100">Make A Difference</a>
          </div>
        </div>
      </div>
    </div>
     <!-- <div class="site-section" data-aos="fade">
      <div class="container">
          <div class="row">    
          <div class="col-md-12 col-lg-12 mb-5">
            <h2 class="site-section-heading text-uppercase text-center font-secondary">Join us Next Week</h2>
          </div>
        </div> 
        <div class="row mb-5">
          <div class="col-md-6 col-lg-6 mb-5 mx-auto">  
            <div class="media-image">
              <a href=""><img src="{% static 'content/desktopss.jpg' %}"alt="Image" class="img-fluid"></a>
            </div>
          </div>
        </div>
      </div>
    </div> -->  
{% endblock %}