{% extends 'base.html' %}  
{% load static %}

{% block nav %}
<li class="has-children">
    <a href="#" >Categories</a>
    <ul class="dropdown arrow-top">
     {% for categorie in categories %} 
    <li><a href="/categories/{{ categorie }}">{{ categorie }}</a></li>
    {% endfor %}
    <li class="has-children">
      <a href="#">Cities</a>
      <ul class="dropdown arrow-top">
      {% for city in cities %} 
      <li><a href="/cities/{{ city }}">{{ city }}</a></li>
      {% endfor %}
      </ul>
    </li>
    </ul>
</li>

{% endblock %}



{% block base %}
  <div class="site-section ">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="caption d-block mb-2 font-secondary font-weight-bold"></span>
            <h2 class="site-section-heading text-uppercase text-center font-secondary">Terms And Conditions FOR CONDUCTING E-EXHIBITION</h2>
          </div>
      </div>
  		<div class="row">
          <div class="col-md-12 text-center">
          	<h5>1. DEFINITIONS: -</h5>
          	<p>In these terms and conditions, the following definitions apply: -</p>
          	<p>“the exhibition space contract” means the organizers form of agreement for
the allotment of the stall at the exhibition.</p>
          	<p>“the Authorities” means the relevant local, public authorities and bodies
relevant to the exhibition.</p>
          	<p>“the Contract” means the Exhibition space contract, these terms and
conditions and the Exhibitors Manual.</p>
          	<p>“the Exhibitor” means the person, firm or company agreeing to take a stall
at the exhibition under the exhibition space contract.</p>
          	<p>“the Exhibitors Manual” means the manual produced by the organizers in
relation to the Exhibition.</p>
          	<p>“the Organizers” Means AMALTAS</p>
          	<h5>2. RULES AND REGULATIONS: -</h5>
          	<p>The exhibitor undertakes to comply with the obligations and duties
contained or referred to in the contract those contained or to be contained in
the Exhibitors’ Manual. Exemptions from any of these obligations and duties
granted at the organizer’s discretion. No exemption given by the Organizer’s
will be effective unless it through mail conversation from the Organizer. The
Exhibitors must comply with requirement of Authorities and where all the
rules and regulation issued by the E-commerce portal.</p>
			<h5>3. STALL ALLOTMENT: -</h5>
			<p>(a). The stall will be allotted to allottee only after making payment to the
Organizers within time bound. The payment should be made only through
online mode. If the signed exhibition space contract together with the
interest with the deposit is not received by the organizers within that period,
the organizers may allocate the stall elsewhere without notice to the
Exhibitors.</p>
			<p>(b). The Contract constitutes a license to exhibit and not a tenancy. The
organizer’s reserve the right at any time to make such alterations in the plan
of the exhibition as may be in their opinion be necessary in the best interest
of the Exhibition as a whole and to alter either or both of the shape and size
of the stall allotted to the Exhibitors.</p>
			<p>(c) the Organizer’s further reserve the right at any time to substitute for the
space allotted to the exhibitors.</p>
			<p>(d) the organizer’s reserve the right to exclude and/or require to remove any
exhibit which in their opinion is not apropos to the exhibition. The decision
of the organizer’s as to the eligibility of the exhibits will be absolutely final
and binding on the exhibitors.</p>
			<p>(e) the contract is personal to the exhibitor and may not be assigned,
sub-contracted or sublet by him.</p>
			<p>(f) Notwithstanding the allocation of a space to the exhibitor, the organizer’s
reserve the right to forbid the Exhibitor to occupy that or any other stall if,
on the opening of the E-Exhibition, there is subsisting any material breach
of the obligations of the Exhibitor under the contract.</p>
			<h5>4. CANCELLATION OF CONTRACT: -</h5>
			<p>(a) The organizers may at any point of time cancel the contract with the
Exhibitors, if they acted against the norms and regulation of the terms
and conditions and against the Exhibitor’s Manual.</p>
			<p>(b) The Exhibitors may cancel the contract with the organizers at any
point of time but by giving prior intimation to the organizers. And the
amount deposited for registration is non-refunded by the organizers.</p>
			<h5>5. ALTERATION OF EXHIBITION DATES: -</h5>
			<p>The organizers reserve their right to alter the E-Exhibition date on the
occurrence of any unforeseen circumstances or by the Act of god.</p>
			<h5>6. BREACH OF CONTRACT: -</h5>
			<p>(a) Without prejudice to their rights, the organizer’s may terminate the
contract forthwith by the notice to the exhibitor.</p>
			<p>(i) If the exhibitors shall in opinion of the organizers become
threaten or become insolvent or commencement of any
proceedings against it by reason of insolvency.</p>
			<p>(ii) If the exhibitor fails to make payment of any instalment on or
before the due date for payment.</p>
			<p>(b) If the contract is terminated by the organizers, the organizers shall be
eligible to entitled for</p>
			<p>(i) To remove such property from the Exhibition space contract.</p>
			<p>(ii) Erect on the stall a board or device carrying the name, title
and/or marks of the Exhibitors.</p>
			<h5>7. CANCELLATION OF EXHIBITION: -</h5>
			<p>If the exhibition is abandoned, cancelled or suspended in whole or part by
reason of fire, national emergency, lockdown, inevitable accident or any
other cause not within the control of the organizers whether ejusdem generis
or not, the organizers shall be under no obligation to repay the whole or part
of the registration fee.</p>
			<h5>8. AMENDMENTS, APPLICATIONS AND INTERPRETATION OF THE
TERMS AND CONDITIONS: -</h5>
			<p>The organizers reserve their right to add to, alter or expunge any of these
Terms and Conditions at any time.</p>
			<h5>9. DATA PROTECTION: -</h5>
			<p>All data regarding all the exhibitors will be processed in accordance with our
privacy policy.</p>
			<h5>10. GOVERNING LAW AND JURISDICTION: -</h5>
			<p>The terms and conditions are subject to Indian Law. Any dispute arising in
connection with the terms and conditions shall be settled by the courts in
Chennai. And any dispute between the parties are settled through by way of
Arbitration.</p>
			<h5>11. EXHIBITORS LIABILITY: -</h5>
			<p>(i) the exhibitors are liable for any defect in their product and not the
organizers who conduct the event. The organizers just paved the way as
platform to showcase their products/things, so the organizers are not liable
for any of the act of the exhibitors.</p>
			<p>(ii) the organizers are not liable for any sale guarantee to the Exhibitors.</p>
			<p>(iii) If there is any dispute between the buyers and the exhibitors, the
organizers are not liable for that event.</p>
			<p>(iv) The organizers do not take any guarantee for any quality or delivery or
payment between the exhibitor and the buyers.</p>
          </div>
        </div> 
      </div>
  </div>    
{% endblock %}